## ANOVA (ANalysis Of VAriance)

    -   ANOVA test used to compare the means of more than 2 groups (t-test can be used to compare 2 groups)
    -   Groups mean differences inferred by analyzing variances
    -   ANOVA uses variance-based F test to check the group mean equality.

### How ANOVA works?

- Check sample sizes: equal number of observation in each group
- Calculate Mean Square for each group (MS) (SS of group/level-1); level-1 is a degrees of freedom (df) for a group
- Calculate Mean Square error (MSE) (SS error/df of residuals)
- Calculate F value (MS of group/MSE)
- Calculate p value based on F value and degrees of freedom (df)

### Main Types:
    -   One-way (one factor) ANOVA
    -   two-way (two factors) ANOVA (factor is an independent variable)

It is also called univariate ANOVA as there is only one dependent variable in the model. 

## MANOVA 
            is used when there are multiple dependent variables in the dataset. 
## ANCOVA

            If there is an additional continuous independent variable in the model, then thats ANCOVA

### Variance

        -   Variance is the average squared deviations from the mean.
  
### Standard Deviation(SD)

        -   Standard Deviation is the square root of this number.
  
- Both measures reflect variability in a distribution, but their units differ: 
- Standard deviation is expressed in the same units as the original values (e.g., minutes or meters).

In [ ]:
std_table  =  np.std(dim['table'])
print(std_table)

### Standard Deviation Error

    -   Standard deviation describes variability within a single sample.
    -   While standard error describes variability across multiple samples of a population.

###  Covariance
    -   Covariance is a statistical tool that is used to determine the relationship between the movements of two random variables.

### Co-variate
    -   A covariate is thus a possible predictive or explanatory variable of the dependent variable. 
    -   This may be the reason that in regression analyses, independent variables (i.e., the regressors) are sometimes called covariates.
    -   Used in this context, covariates are of primary interest.

### Confidence Interval
    -   A confidence interval displays the probability that a parameter will fall between a pair of values around the mean. 
    -   Confidence intervals measure the degree of uncertainty or certainty in a sampling method. 
    -   They are most often constructed using confidence levels of 95% or 99%.

### Alpha (Î±)
    -   Alpha is a threshold value used to judge whether a test statistic is statistically significant. 
    -   It is chosen by the researcher.
    -   Alpha represents an acceptable probability of a Type I error in a statistical test. 
    -   Because alpha corresponds to a probability, it can range from 0 to 1

Univariate and multivariate represent two approaches to statistical analysis. 

### Univariate

    -   Univariate involves the analysis of a single variable
    -   univariate analysis emphasizes description
    -   
### Multivariate Analysis

    -   Multivariate analysis examines two or more variables.
    -   Most multivariate analysis involves a dependent variable and multiple independent variables. 
    -   multivariate methods emphasize hypothesis testing and explanation. 
  
 Although univariate and multivariate differ in function and complexity, the two methods of statistical analysis share similarities as well.

### Import Python Libraries

In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import statistics as stats
import statsmodels.api as sm
from scipy.stats import sem
from scipy import stats
from statistics import variance
from scipy.stats import shapiro
from numpy.random import poisson
from numpy.random import seed
from numpy.random import randn
from scipy.stats import f_oneway
from statsmodels.formula.api import ols

In [2]:
dim  = sns.load_dataset("diamonds")

In [3]:
dim.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
dim.shape

(53940, 10)

In [6]:
dim.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [7]:
dim.describe

<bound method NDFrame.describe of        carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]>

In [8]:
dim.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [28]:
std_table  =  np.std(dim['table'])
print(std_table)

2.2344698499833475

In [29]:
std_carat = np.std(dim['carat'])
print(std_carat)

0.5848220841249965

### Log Scaling

In [16]:
dim['carat'] = np.log(dim['carat'])
dim.head(1)

      carat    cut color clarity     depth  table  price         x     y     z
0 -1.469676  Ideal     E     SI2  4.119037   55.0    326  1.373716  3.98  2.43

In [17]:
dim['depth'] = np.log(dim['depth'])
dim.head(1)

      carat    cut color clarity     depth  table  price         x     y     z
0 -1.469676  Ideal     E     SI2  1.415619   55.0    326  1.373716  3.98  2.43

In [20]:
dim.head(5)

,carat,cut,color,clarity,depth,table,price,x,y,z
0,-1.469676,Ideal,E,SI2,1.415619,55.0,326,1.373716,3.98,2.43
1,-1.560648,Premium,E,SI1,1.408791,61.0,326,1.358409,3.84,2.31
2,-1.469676,Good,E,VS1,1.396565,65.0,327,1.398717,4.07,2.31
3,-1.237874,Premium,I,VS2,1.419140,58.0,334,1.435085,4.23,2.63
4,-1.171183,Good,J,SI2,1.422599,58.0,335,1.467874,4.35,2.75

In [24]:
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(dim['carat'],dim['depth'])
print(fvalue, pvalue)

517470.09014937736 0.0

### One Way ANOVA

In [25]:
f_oneway(dim['carat'],dim['depth'])

F_onewayResult(statistic=517470.09014937736, pvalue=0.0)

### Standard Daviation

In [26]:
d = np.std(dim['table'])
print(d)

2.2344698499833475

### Standard Error of the Mean

In [44]:
sem(dim['table'])

0.009621062895015272

In [45]:
sem(dim['carat'])

0.0025180962069379603

In [46]:
np.std(dim['table'], ddof=1) / np.sqrt(np.size(dim['table']))

0.009621062895013617

## Variance

In [39]:

print("Variance of table is "  , variance(dim['table']))
print("Variance of depth is " , variance(dim['depth']))
print("Variance of carat is " ,  variance(dim['carat']))
print("Variance of  y    is  " , (variance(dim['y'])))

Variance of table is  4.9929480753375515
Variance of depth is  3.193919086295259e-05
Variance of carat is  0.3420232108889048
Variance of  y    is   1.30447161383532

## Co-Variance

In [40]:
np.cov(dim['table'])

array(4.99294808)

In [42]:
np.cov(dim['price'],dim['carat'])

array([[1.59156294e+07, 1.99605586e+03],
       [1.99605586e+03, 3.42023211e-01]])